<div class="d-flex align-items-center" style="height: 30px;">
    <div class="w-25 text-center">
        <span class="text-white">{{time}}</span>   
    </div>
    <div class="w-50">
        <div class="bg-dark d-flex justify-content-center align-items-center" style="height: 30px; border-radius: 0 0 30px 30px ;">
            <div class="bg-light rounded-3 ms-3" style="width: 4.5rem; height:10px;"></div>
            <div class="rounded-circle bg-light ms-3" style="width: 10px; height:10px;"></div>
        </div>
    </div>
    <div class="w-25 text-white text-center">
        <span>
            Airtel
               <!-- <marquee behavior="slow" direction="rtl">Airtel</marquee> -->
        </span>
        <!-- <span> -->
            <!-- <mat-icon> -->
                <!-- b -->
            <!-- </mat-icon> -->
        <!-- </span>    -->
</div>
</div>
